.banner-container {
  width: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-image {
  width: 100%;
  max-width: 950px;
  max-height: 300px;
}

.banner-text {
  font-size: 1.2rem;
  text-align: center;
  padding: 15px;
}

@media (min-width: 660px) {
  .banner-container {
    padding: 30px;
  }
  .banner-text {
    font-size: 1.8rem;
  }
}
