form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 750px;
  margin: 1.5vh 10vw;
  font-size: medium;
  font-family: 'Oswald', sans-serif;
}

.control-group {
  margin: 5px;
  display: block;
}

input,
select {
  display: block;
  width: 75%;
  font-size: medium;
  margin: 1vw;
  padding: 3px;
}

input[type='radio'],
input[type='checkbox'] {
  display: inline-block;
  width: initial;
}

button {
  width: 75px;
  margin: 0 auto;
  padding: 1vw;
  font-size: large;
}
